
/*! this is for the small tablet version or lndscape big phone version*/
body{
        background-color: pink;
    }
.page .header{
    display: block;
}
    .page .body{
        display: block;
    }